/* add your CSS here */
.animal-card{
  width:322px;
}

h3{
  font-size:200%;
  text-align:center;
  font-family:Helvetica;
}

p{
  font-size:110%;
}

img {
  width: 300px;
}

#interesting-fact{
  font-style:italic;
}

#animal-list-items{
  list-style:none;
}

#animal-list-items span{
  font-weight:bold;
}

img,
h3,
#information{
  padding: 10px;
  border: 1px solid blue;
}

